@model Presentation.ViewModels.Profile.ProfileVm

<h2>Profil</h2>

<div class="card">
    <div class="card-body">
        <div><strong>UserName:</strong> @Model.UserName</div>
        <div><strong>UserId:</strong> @Model.UserId</div>
    </div>
</div>
